@media screen and (min-width: 1024px) {
  html {
    overflow: overlay;
  }
}

body{

}

i.icon-move{
  display: inline-block;
  box-sizing: border-box;
  padding: 0 0 0 5px;
  width: 28px;
  height: 16px;
  line-height: 13px;
  vertical-align: text-top;
  color: rgba(30,30,30,0.30);
  background-color: rgba(100,100,100,0.15);
  background-position: 14px 14px;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 0 0 8px 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

i.icon-move:hover{
  color: rgba(30,30,30,0.90);
  background-color: rgba(100,100,100,0.6);
}

.btn-xs-table{
  height: 16px;
  line-height: 12px;
  padding:2px;
  margin:0;
  top:-2px;
}

.btn-xs-div{
  height: 18px !important;
  line-height: 16px !important;
  font-size: 1em !important;
}

.fixed-width-125{
  width: 125px !important;
  overflow: hidden;
}

.fixed-width-100{
  width: 100px !important;
  overflow: hidden;
}

.fixed-width-75{
  width: 75px !important;
  overflow: hidden;
}


.line-clamp {
  overflow: hidden !important;
}



.bg-success-light{
  background-color: rgba(225, 250, 230, 0.50) !important;
}

.bg-danger-light{
  background-color: rgba(250, 225, 225, 0.50);
}

.bg-warning-light{
  background-color: rgba(250, 250, 200, 0.50);
}

.bg-warning-light:hover, .bg-success-light:hover {
   box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .15) !important;
}


.table-hover tbody tr:hover{
  background-color: rgba(128, 128, 128, .15);
}

.dynamicSearchBox{
  height:22px;
  font-size: 0.9em;
  padding: 5px;
}




#sortable1, #sortable2, #sortable3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sortable1 li, #sortable2 li, #sortable3 li {
  margin: 0;
  margin-left:15px;
  margin-bottom:15px;
  padding: 0;
}
.ui-state-highlight { height: 175px; }